﻿@{
    ViewData["Title"] = "INICIAR SESIÓN";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/IniciarSesion.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="card">
        <div class="Cuerpo">
            <div class="ContenedorFormulario">
                <div class="TituloForm">
                    <h1>Iniciar Sesión</h1>
                </div>
                <form asp-controller="Usuario" asp-action="Ingresar" method="post" class="Formulario">
                    <div class="Componente">
                        <input class="CampoTexto" type="email" placeholder="Correo" name="Correo" id="Correo" required="" />
                        <label for="Correo" class="Etiqueta">Correo</label>
                    </div>
                    <div class="Componente">
                        <input class="CampoTexto" type="password" placeholder="Contraseña" name="Contrasena" id="Contrasena" required />
                        <label for="Contrasena" class="Etiqueta">Contraseña</label>
                    </div>
                    <div class="Componente BtnIS">
                        <input type="submit" value="Iniciar Sesión" class="BtnIniciarSesion" />
                    </div>
                </form>
                <div class="Componente">
                    <p>¿No tienes cuenta? <a asp-controller="Usuario" asp-action="RegistrarUsuario">Crea una</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

